.card {
  display: flex;
  flex-direction: column;
  align-items: center; /* 가로 중앙 정렬 */
  justify-content: center; /* 세로 중앙 정렬 */
  text-align: center; /* 텍스트 중앙 정렬 */
  /* 필요하다면 높이/여백도 추가 */
}

.card span {
  margin-left: 0.5rem; /* 숫자와 텍스트 사이 간격 */
  font-weight: bold;
}

.summaryCard {
  padding: 1.5rem 2rem;
  background-color: var(--white-green);
  border-radius: 2px;
  margin: 0 1.2rem;
  display: flex;
  justify-content: space-around;
  gap: 1.2rem;
}
