.container {
  padding-top: 80px;
}

.main {
  flex: 1;
  padding: 2rem;
  background-color: white;
}

.topBar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 1.5rem;
}

.title {
  font-size: 24px;
  font-weight: bold;
  margin-bottom: 1rem;
}

.table {
  width: 100%;
  margin-top: 1rem;
  border: 1px solid #ccc;
  overflow: hidden;
  table-layout: fixed;
  border-collapse: collapse;
}

.table th,
.table td {
  font-weight: bold;
  border: 1px solid #ccc;
  border-left: none;
  padding: 0.5rem;
  text-align: left;
}

.actionButtons {
  display: flex;
  flex-wrap: wrap;

  display: flex;
  justify-content: center;
  gap: 1rem;
  margin-top: 1.5rem;
}

.cancelButton {
  padding: 0.6rem 3rem;
  border: 1px solid #ccc;
  border-radius: 4px;
  background-color: white;
  cursor: pointer;
}

.cancelButton:hover {
  background-color: var(--background-hover-color);
}

.addButton {
  padding: 0.6rem 3rem;
  border: none;
  background-color: var(--theme-color);
  color: white;
  border-radius: 4px;
  cursor: pointer;
}

.addButton:hover {
  background-color: var(--theme-color-hover);
}

.deleteText {
  text-align: center;
  font-size: 13px;
  color: var(--border-color);
  text-decoration: underline;
  cursor: pointer;
  margin-top: 1rem;
}

@media (max-width: 480px) {
  .addButton,
  .cancelButton {
    padding: 0.4rem 1.5rem;
    font-size: 14px;
    flex: 1; /* ✅ 버튼을 같은 너비로 채움 */
    text-align: center;
  }
}
