:root {
  /* Global */
  --black-700: #161032;
  --black-500: #727272;
  --black-300: #b2b2b2;
  --white-green: #e4f0ea;
  --theme-color: #478b63;
  --focus-color: #478b63;
  --theme-color-hover: #3c7a56;
  --border-color-light: #eee;
  --border-color: #b2b2b2;
  --background-hover-color: rgba(0, 0, 0, 0.043) /* #F4F4F4 */;
  --background-color: #f5f6f8;

  /* POS */
  --pos-theme-color: #017cc9;
  --pos-theme-color-active: #00568c;
}
