.app {
  display: flex;
  flex-direction: row;
  gap: 4px;
  height: 100vh; /* fallback */
  height: 100dvh;
}
.app>nav {
  flex: 0 0 260px;
  box-sizing: border-box;
  box-shadow: 3px 0 4px rgba(0, 0, 0, 0.15);
  z-index: 1000;
}
.app>main {
  flex: 1;
  overflow: auto;
}